/data/test/MNIST/raw/t10k-images-idx3-ubyte
/data/train/MNIST/raw/t10k-images-idx3-ubyte
/data/test/MNIST/raw/t10k-images-idx3-ubyte.gz
/data/train/MNIST/raw/t10k-images-idx3-ubyte.gz
/data/test/MNIST/raw/t10k-labels-idx1-ubyte
/data/train/MNIST/raw/t10k-labels-idx1-ubyte
/data/test/MNIST/raw/t10k-labels-idx1-ubyte.gz
/data/train/MNIST/raw/t10k-labels-idx1-ubyte.gz
/data/test/MNIST/raw/train-images-idx3-ubyte
/data/train/MNIST/raw/train-images-idx3-ubyte
/data/test/MNIST/raw/train-images-idx3-ubyte.gz
/data/train/MNIST/raw/train-images-idx3-ubyte.gz
/data/test/MNIST/raw/train-labels-idx1-ubyte
/data/train/MNIST/raw/train-labels-idx1-ubyte
/data/test/MNIST/raw/train-labels-idx1-ubyte.gz
/data/train/MNIST/raw/train-labels-idx1-ubyte.gz
